@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Single+Day&display=swap");

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #000000, #60289c);
}
.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f2f7;
}
form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: #897a96;
  margin: 2px;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: rgb(166, 188, 188);
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background: #897a96;
  color: #000000;
}

form input.equal {
  width: 124px;
}
